
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Foo</h1>
        <h2>@Model.Hostname</h2>
    </div>
</body>
</html>
